<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <title>Sports Store</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="#">Sports Store</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active text-white" aria-current="page" href="#">Inicio</a>
                    
                
                </div>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <img src="https://cdn.pixabay.com/photo/2015/09/09/17/57/ski-932188_640.jpg" class="img-fluid" alt="...">
            </div>
            <div class="col-md-6 bg-primary text-white">
                <h2 class="h2 pt-5">Encuentra la Mayor Variedad de Artículos</h2>
                <p class="lead">
                    <strong>Descubre la excelencia en cada movimiento con nuestra amplia gama de artículos deportivos diseñados para potenciar tu rendimiento y elevar tu experiencia atlética. En nuestro apasionante catálogo, encontrarás todo lo que necesitas para abrazar tu amor por el deporte y alcanzar nuevas alturas en cada disciplina.</strong>
                </p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-6 bg-primary text-white">
                <h2 class="h2 pt-5">Equipo de Calidad para Desempeño Óptimo</h2>
                <p class="lead">
                    <strong>En el corazón de nuestro compromiso está la calidad. Cada artículo deportivo que ofrecemos ha sido cuidadosamente seleccionado por su rendimiento superior, durabilidad y estilo. Desde zapatillas de running diseñadas para conquistar kilómetros hasta equipos especializados para deportes de equipo, nos esforzamos por brindarte lo mejor en cada categoría.</strong>
                </p>
            </div>
            <div class="col-md-6">
                <img src="https://cdn.pixabay.com/photo/2012/11/28/11/11/football-67701_640.jpg" class="img-fluid" alt="...">
            </div>
        </div>
    </div>

    <footer class="mt-5 text-center">
        <!-- Contenido del pie de página -->
    </footer>

    <!-- Scripts de Bootstrap y cualquier otro script que puedas necesitar -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-eA6zDf5xqUayL1x1O3QK2J9ORqLl3/JqVd76wq4Yl63WDR9SG0YdC86MSevWlGN" crossorigin="anonymous"></script>
</body>
</html>
